<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar> -->

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" disableClose="true" opened class="example-side-nav">
      <mat-nav-list class="nav-list">
        <a mat-list-item *ngFor="let nav of routerLinks" routerLinkActive="active"  routerLink="{{nav.path}}">
            {{nav.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
      <div class="routerdata">
        <router-outlet (activate)="ActivetedRouter($event)"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

[fixedInViewport]="true"