.example-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .example-side-nav{
    width: 250px;
    background-color: #353941;
    border-right:0px;
  }
  .sidenav-content{
    background-color:#353941;
    border: 1px solid;
  }
.nav-list{
  padding: 70px 10px 0px 10px;
}

.nav-list a{
    color: white;
    margin: 10px;
    border-radius: 4px;
    width: calc(100% - 20px);
    height: 40px;
}
.routerdata{
  padding: 70px 100px 20px 100px;
}
.active{
  background-color:rgba(0,0,0,0.3) !important;
}