.example-card {
    max-width: 180px;
    margin: 20px;
    background: none !important;
    box-shadow: none;
    border-radius: 0px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .movies{
    // height: 100%;
    // flex-direction: row;
    // box-sizing: border-box;
    // display: flex;
    // // place-content: stretch space-around;
    // align-content: stretch;
    // justify-content: space-around;
    // align-items: stretch;
    // max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .movie-title{
    font-size: 18px;
    color: white;
  }
  .card-content{
    text-align: center;
  }
  .card-image{
    height: 310px;
    box-shadow: 8px 0px 26px black
  }
  .paginator{
    background-color: rgba(0,0,0,0.18);
    color: white; 
  }
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }